.comments {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top:1px solid #868686;
    border-bottom:1px solid #868686;
    padding:2% 0 2% 0;

}
.comments-block {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comments-body {
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.comment {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:5% ;
    gap: 20px;
    border: 3px solid #868686;
}
.profile {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 20%;
}
.profile h3 {
    text-align: center;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #868686;
    background:url("/image/icons/profile.svg") ;
    background-size: 100%;
}
.profile-img {
    border-radius: 50%;
    height: 100%;
}
.comment-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
}
.comment-images {
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-wrap: wrap;
}
.comment-image {
    width: 80px;
    height: 80px;
}
.comment-btn {
    border: 2px solid #868686;
    font-size: 20px;
    color: #868686;
    width: 25%;
    padding: 20px;
    letter-spacing: 5.76px;
    !important;
}
.form-comment textarea {
    border: 2px solid  #88B274;
    background: #FFF;
    padding: 10px;
    font-size: 20px;
    font-family: "Gilroy Light", serif;
    letter-spacing:2px ;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 75%;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}
@-webkit-keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

}
@media screen and (max-width:825px ) {
    .comment {
        flex-direction: column;
    }
    .h {
        font-size: 40px;
    }

}
@media screen and (max-width: 390px) {
    .form-auth {
        width: 100%;
    }
    .form-auth input {
        width: 100%;
        font-size: 16px;
    }
    .circle {
        height: 100px;
        width: 100px;
    }


}
